# Express Server Env Template
PORT=5000
NODE_ENV=development
JWT_SECRET=supersecretportfoliooskey10293

SUPABASE_URL=https://znpctnlmoqozkayzgyef.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpucGN0bmxtb3FvemtheXpneWVmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODEyMTYzNjEsImV4cCI6MjA5Njc5MjM2MX0.8H5X3N8p-ZYqf14J1PLSeJT0X_cJHJvWBOBwATczmjU
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpucGN0bmxtb3FvemtheXpneWVmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MTIxNjM2MSwiZXhwIjoyMDk2NzkyMzYxfQ.oiXeU2Ld0YRjWzELFuGFuAIFacnarWQJ1G9DWUBp90M

# Cloudinary
CLOUDINARY_CLOUD_NAME=dvpe9bejq
CLOUDINARY_API_KEY=462878749632936
CLOUDINARY_API_SECRET=pDhzyCJhtHFDIQthzLsCVF0XCnw

# JWT
JWT_SECRET=fasfsdajhkgfuafajdhfgajlfgdagf
